.header {
  position: sticky;
  top: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: 40px 1fr auto;
  align-items: center;

  padding: var(--space-md);
  background: var(--bg-main);
  box-shadow: var(--shadow-soft);
}

.home {
  text-decoration: none;
  font-size: 20px;
}

.title {
  text-align: center;
  font-weight: 700;
  color: var(--color-text);
}

.right {
  font-size: 12px;
  opacity: 0.8;
}
